We will clean the data set here and create a new dataset with the cleaned version. This version will be used for all the eda.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("responses (55).csv")
data['id'] = list(map(str, list(data.index)))
data.drop(columns=['Timestamp'], inplace=True)
data.drop(index=[21, 129], inplace=True)
data.loc[62, 'Sex'] = data.loc[136, 'Sex'] = 'Other'
data['Where do you live? (name of village/town/city)'] = data['Where do you live? (name of village/town/city)'].apply(lambda x: x.strip().lower())
data['What percentage of your total monthly income (or allowance) do you keep aside for active savings?'] = data['What percentage of your total monthly income (or allowance) do you keep aside for active savings?'].map(
    {
        'Do not have a stable monthly income': 'no income',
        '10% - 50%': '10% - 50%',
        '5% - 10%': '5% - 10%',
        'Do not have a monthly income': 'no income',
        '< 5%': '< 5%',
        '> 50%': '> 50%'
    }
)

In [3]:
oldName_to_newName = {
    'id': 'id',
    'Where do you live? (name of village/town/city)': 'P1',
    'Do you live in a rural or urban area?': 'P2',
    'Sex': 'P3',
    'Age': 'P4',
    'Your medium of schooling': 'P5',
    'Your highest educational qualification': 'P6',
    'Your monthly household income (in INR)': 'P7',
    'Who do you live with in your residence (i.e., where you currently reside)? ': 'P8',
    "Your father's highest educational qualification": 'P9',
    "Your mother's highest educational qualification": 'P10',
    'Who is responsible for making day-to-day decisions about money in your household?': 'F1',
    'Do you prepare a budget to keep track of necessary expenses and savings?': 'F2',
    'How do you keep track of your monthly expenses?': 'F3',
    'In the past 12 months have you been personally saving money in any of the following ways?': 'F4',
    'What percentage of your total monthly income (or allowance) do you keep aside for active savings?': 'F5',
    'What do you usually do to grow the money that you manage to save each month?': 'F6',
    'If you lost your main source of income today, how long would you be able to continue your current living expenses without borrowing money or moving house?': 'F7',
    'In the last 12 months have you done the following?': 'S1',
    'For an online payment that has to be made by card, which one would you opt for generally?': 'A1',
    'You are looking to buy new headphones online and you have 2 choices, out of which you need to choose one. The first set of headphones are priced at ₹700, while the other set is marked at ₹1,000 with a 30% discount. Both the sets are similar in terms of quality, performance, and durability.': 'A2',
    'From the list given below, identify items that are classified as assets:': 'K1',
    "Suppose you buy a piece of land for  ₹5 lakhs. After 10 years, you sell this land for ₹7 lakhs. How much would your profit be after selling the land? (Assume you don't have to pay any kind of taxes)": 'K2',
    'You have borrowed ₹100 from a friend. Which would be the lower amount to pay back: ₹105 or ₹100 plus 3%?': 'K3',
    'Assume that the income tax rate for an annual income between ₹1 lakh and ₹2 lakhs is 5% and for an annual income between ₹2 lakhs and ₹4 lakhs, the income tax rate is 10%. If your annual income is ₹3 lakhs, your income tax would be:': 'K4',
    'You want to buy a phone worth ₹25,000 and you decide to save ₹5,000 each month. In your third month of savings period (which would be of 5 months), a relative gifts you ₹4,000 in form of cash. What would you most likely do with this money?' : 'K5',
    'Just when you were about to reach your target of saving ₹25,000 for your new phone, you hear about another new, different model worth ₹22,000 and see a huge number of people booking it, along with good recommendations from a lot of well known experts and analysts.': 'K6',
    "You have ₹200 to spend on lunch and you're hungry. You buy some food items worth ₹180 and you feel full again after eating. You are now left with ₹20 of your lunch budget. What are you most likely to do?": 'K7',
    'Which one of the following investments do you consider as safer: putting your entire money in one business/investment, or putting your money into multiple businesses/investments?': 'K8',
    "You lend Rs. 25 to a friend and they return you Rs. 25 the next day. How much interest did they pay on this loan?": 'K9',
    "Say someone puts Rs. 100 into a tax free, no fee savings account with guaranteed interest is 2% per year. What will be the amount in the account after 5 years?": 'K10',
    "Suppose 5 brothers are given Rs. 1000 and asked to divide among themselves. However they have to wait for a year to get the money. If inflation stays at X%, then in 1 year will they be able to buy": 'K11'
}

In [4]:
newName_to_oldName = {item[1]: item[0] for item in oldName_to_newName.items()}

In [5]:
columns = ['id'] + [f"P{i}" for i in range(2,11)] + [f"F{i}" for i in range(1,8)] + ["S1", "A1", "A2"] + [f"K{i}" for i in range(1,12)]
renamed_data = data.rename(columns=oldName_to_newName)[columns].copy()

In [6]:
renamed_data['F7'] = renamed_data['F7'].map({
    "Don't know": "dont know",
    '6 months or more': '>= 6 months',
    'Atleast one month but less than 3 months': '>= 1 month but < 3 months',
    'Less than a week': '< 1 week',
    'Atleast 3 months but less than 6 months': '>= 3 months bu < 6 month'
})

In [7]:
renamed_data['F6'] = renamed_data['F6'].map({
    'I invest this money periodically across various asset classes like bonds, stocks, cryptocurrency, fixed deposits, etc.': 'invest in assets',
    'I keep the money in my bank account': 'keep in bank account',
    "I'm generally not able to save money each month": 'unable to save',
    'I spend the saved money on shopping': 'spend on shopping'
})

In [8]:
renamed_data['F1'] = renamed_data['F1'].map({
    'Someone else makes these decisions': 'someone else',
    'You make these decisions by yourself': 'me',
    'You make these decisions with someone else': 'me with someone else'
})
renamed_data['F2'] = renamed_data['F2'].map({
    'Yes, I do so each month': 'each month',
    'Yes, but only sometimes': 'sometimes',
    'No, I do not keep a written record of my expenses and savings': 'never'
})
renamed_data['F3'] = renamed_data['F3'].map({
    'I do not keep a written record of my expenses': 'no record',
    'I write things down on paper in the form of notes': 'notes',
    'I make use of spreadsheets or other similar tools': 'spreadsheet or other tools'
})

In [9]:
renamed_data['F4'] = renamed_data['F4'].apply(lambda x: x.replace("assets, NFTs", "assets,NFTs"))
renamed_data['S1'] = renamed_data['S1'].apply(lambda x: x.replace("(investments, loan, credits)", "(investments,loan,credits)"))

In [10]:
renamed_data['P8'].unique()

array(['With friends. colleagues or students',
       'With children under the age of 18, With other adult relatives',
       'With other adult relatives', 'Alone',
       'With friends. colleagues or students, With other unrelated adults',
       'With partner/spouse',
       'With partner/spouse, With children under the age of 18',
       'With other unrelated adults',
       'With partner/spouse, With other adult relatives',
       'With children under the age of 18',
       'With children under the age of 18, With other unrelated adults',
       'With children under the age of 18, With friends. colleagues or students'],
      dtype=object)

In [11]:
dummies = renamed_data['P8'].str.get_dummies(sep="With ")

In [12]:
renamed_data['K5'] = renamed_data['K5'].map({
    'Add it to your savings for your new phone and go on to save ₹1,000 more for that month': 'save it',
    "Use it for some other personal expense as this money was gifted to you and hence, will not be categorized as 'money you need to save'": 'spend it'
})

In [13]:
renamed_data['K6'] = renamed_data['K6'].map({
    'Seeing the huge demand, you decide to buy ₹22,000 model': 'cheaper model',
    'You stick with the ₹25,000 model': 'expensive model'
})

In [14]:
renamed_data['K7'] = renamed_data['K7'].map({
    'Buy some light snack or beverage worth ₹20 to top off your lunch, thus exhausting your complete budget for lunch.': 'buy beverage',
    'You keep the remaining money with yourself and do not buy anything else.': 'keep it'
})

In [15]:
renamed_data['K10'] = renamed_data['K10'].map({
    'Less than Rs. 110 (or is it?)': 'less than 110',
    'Not sure': 'not sure',
    'More than Rs. 110': 'more than 110',
    'Exactly Rs. 110': 'exactly 110'
})

In [16]:
renamed_data['K4'] = renamed_data['K4'].map({
    'Rs. 30,000': '30,000',
    'Not sure': 'not sure',
    'Rs. 25,000': '25,000',
    'Rs. 15,000': '15,000'
})

In [17]:
renamed_data['K3'] = renamed_data['K3'].map({
    'Rs. 100 plus 3%': '100 plus 3pct',
    'Not sure': 'not sure',
    'Rs. 105': '105'
})

In [18]:
renamed_data['K2'].unique()

array(['Rs. 2 lakhs', 'Not sure', 'Less than Rs. 2 lakhs',
       'You will lose money'], dtype=object)

In [19]:
renamed_data['K2'] = renamed_data['K2'].map({
    'Rs. 2 lakhs': '2 lakh',
    'Not sure': 'not sure',
    'Less than Rs. 2 lakhs': '> 2 lakh',
    'You will lose money': 'lose money'
})

In [20]:
renamed_data['K11'] = renamed_data['K11'].map({
    'Not sure': 'not sure',
    'Less than they can buy today': 'less than today',
    'The same amount': 'same as today',
    'More with their share of money than they can buy today': 'more than today'
})

In [21]:
renamed_data

,id,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,K2,K3,K4,K5,K6,K7,K8,K9,K10,K11
0,0,Urban,Female,22,Bengali,Graduate,"> 60,000",With friends. colleagues or students,Graduate,Postgraduate,...,2 lakh,100 plus 3pct,"30,000",save it,cheaper model,buy beverage,Multiple businesses/investment,No interest,less than 110,not sure
1,1,Urban,Male,22,Bengali,Graduate,"< 20,000",With friends. colleagues or students,Graduate,Graduate,...,not sure,not sure,not sure,save it,cheaper model,buy beverage,Not sure,Not sure,not sure,not sure
2,2,Urban,Male,21,English,Graduate,"> 60,000","With children under the age of 18, With other ...",12th pass,12th pass,...,not sure,not sure,not sure,save it,expensive model,keep it,Multiple businesses/investment,Not sure,not sure,not sure
3,3,Urban,Female,23,English,Graduate,"> 60,000",With other adult relatives,Postgraduate,Graduate,...,> 2 lakh,100 plus 3pct,"25,000",save it,cheaper model,buy beverage,Multiple businesses/investment,No interest,not sure,less than today
4,4,Rural,Male,21,Bengali,Graduate,"20,000 - 40,000",Alone,10th pass or less,Graduate,...,> 2 lakh,100 plus 3pct,not sure,save it,cheaper model,keep it,Multiple businesses/investment,No interest,more than 110,same as today
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,Urban,Male,20,Hindi,Graduate,"20,000 - 40,000",With other adult relatives,Graduate,12th pass,...,lose money,100 plus 3pct,"15,000",save it,cheaper model,keep it,Multiple businesses/investment,No interest,more than 110,less than today
201,201,Urban,Male,21,English,Graduate,"< 20,000","With children under the age of 18, With other ...",12th pass,12th pass,...,> 2 lakh,100 plus 3pct,"30,000",save it,cheaper model,keep it,Multiple businesses/investment,No interest,less than 110,less than today
202,202,Urban,Female,21,Bengali,Graduate,"< 20,000",With other adult relatives,12th pass,Graduate,...,lose money,100 plus 3pct,not sure,save it,cheaper model,buy beverage,Multiple businesses/investment,No interest,more than 110,not sure
203,203,Urban,Female,35,English,Postgraduate,"20,000 - 40,000",With other adult relatives,12th pass,10th pass or less,...,lose money,100 plus 3pct,"30,000",save it,cheaper model,keep it,Multiple businesses/investment,No interest,more than 110,less than today
204,204,Urban,Male,35,English,Postgraduate,"40,000 - 60,000",With other adult relatives,Ph.D.,Graduate,...,lose money,100 plus 3pct,"30,000",save it,cheaper model,keep it,Multiple businesses/investment,No interest,more than 110,less than today

In [22]:
renamed_data.to_csv("cleaned_dataset.csv", index=False)